<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-3"><%= @employee.name %></h1>
      <h2 class="subtitle">Title: <%= @employee.title %></h2>
      <p>Email: <%= @employee.email %></p>
      <p>Phone Number: <%= @employee.phone_number %></p>
      <p>Department: <%= @employee.department.name %></p>
      <p>Office: <%= @employee.office %></p>
    </div>
    <br><br>
    <%= link_to "Back", employees_path %>
  </div>
</section>




