<h1>Here's a list of all the appointments</h1>
<% @admin.appointments.each do |appointment|%>
  <div>
    <%= appointment.appointment_time.strftime("%A, %B %d, %Y, %I:%M %p") %> <br>
    Employe: <%= appointment.employee.name %> <br>
    Client: <%= appointment.client.name %> <br>
    Message :<%= appointment.message %>
  </div>
<% end %>
<br><br>
<%= link_to "Create new appointment", new_appointment_path %>