<h1>Here's a list of all the appointments</h1>
<% @admin.appointments.each do |appointment|%>
  <li> <%= appointment.appointment_time.strftime("%A, %B %d, %Y, %I:%M %p") %></li>
<% end %>

<!---
<h1>Here's a list of all your employees</h1>
<%= @admin.employees.each do |employee|%>
  <li> <%=employee.name%></li>
<% end %>
<br>
<h1>Here's a list of all the clients</h1>
<%= @admin.clients.each do |client|%>
  <li> <%=client.name%></li>
<% end %>
--->