<section class="section">
	<div class="container">
		<h1 class="title is-1 has-text-centered"> Appointment Schedule</h1>
    <% if @appointments.present? %>
      <% @appointments.each_with_index do |appointment, index| %>
      <div class="block">
        <div class="box">
          <%= link_to appointment.purpose, appointment_path(appointment), class: "title is-3" %>
          <p><strong>With:</strong> <%=appointment.client.name %></p>
          <p><strong>Date:</strong> <%= appointment.start_date %></p>
          <p><strong>Time:</strong> <%= appointment.start_hour %> - <%= appointment.end_hour %></p>
        </div>
      </div>
      <% end %>
    <% else %>
      <div class="block">
        <div class="box is-danger">
          <h3 class="title is-4">There are no appointments to show...</h3>
        </div>
      </div>
    <% end %>

		<div class="block">
			<%= link_to "Create Appointment", new_appointment_path, class: "button is-primary" %>
		</div>

		<div class="block">
      <%= link_to "Visit Clients", clients_path, class: "button" %>	
		</div>
		<br>

    <% if user_signed_in? %>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button is-danger" %> 
    <% end %>

	</div>
</section>